.container {
    font-size: 16px;
    /* width: 100%; */
    margin: 30px;
    margin-left: 0;
    margin-right: auto;
}

.container span {
    cursor: pointer;
    display: flex;
    align-items: center;
}


/* .container span::after {
    content: "_";
    margin-left: 5px;
} */

.container span:hover > .arrow {
    color: var(--color-red);
}

.arrow {
    font-size: 26px;
}

@media (min-width: 768px) {
    .container {
        margin-bottom: 50px;
        font-size: 20px;
    }

    .left {
        margin: 45px 0;
    }
}
