.container {
    border: 1px solid #000;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 35px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 12px;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
