.container {
    border: 1px solid var(--menu-solid);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;
    font-size: 12px;
    height: 100%;
    cursor: pointer;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    width: 155px;
    height: 35px;
    margin-top: 12px;
}

.link:hover {
    background-color: var(--menu-solid);
    color: #fff;
}
