.container {
    border-bottom: 1px solid var(--menu-solid);
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: auto;
    font-size: 12px;
    height: 100%;
    cursor: pointer;
    padding: 3px 2px;
    padding-top: 1rem;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    /* width: 155px; */
    width: 60%;
    height: 100%;
}

.link:hover {
    background-color: var(--menu-solid);
    color: #fff;
}


@media (min-width: 768px) {
    .link {
        width: 50%;
    }
}
