.grid {
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    display: grid;
    margin-top: 20px;
}

.name {
    font-weight: normal;
    margin-top: 0;
    font-size: 21px;
}

.description {
    width: 100%;
    font-size: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: auto;
    min-height: 110px;
    margin-bottom: 30px;
}

.galleryCont {
    margin: auto;
    background-color: #fff;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.galleryImg {
    width: 100%;
}

.enlargeIcon {
    z-index: 5;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    opacity: 0;
    transform: scale(0);
    transition: all .5s cubic-bezier(0.06, -0.96, 0.92, 2.18);
}

.info {
    padding: 30px 0;
}

.techHeader {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 50px;
}

/* .techHeader::after {
    content: "_";
    margin-left: 10px;
} */

h4 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px;
}

h5 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

.colours {
    display: flex;
    justify-content: flex-start;
}

.colourImg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.bigImgCont {
    width: 100vw;
    height: 300px;
    margin-left: -50px;
    margin-right: -100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cover {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--menu-grey);
}

@media (min-width: 768px) {
    .grid {
        grid-template: auto / 1.2fr 3fr;
        /* margin-top: 60px; */
        grid-row-gap: 15vh;
        padding: 0;
        margin-top: 80px;
        align-items: center;
    }

    .description {
        display: flex;
        flex-direction: column;
        max-height: 70vh;
    }

    .text {
        overflow-y: auto;
        text-align: justify;
        padding-right: 15px;
    }

    .buttons {
        margin-top: 25px;
        margin-bottom: 0;
    }

    .galleryCont {
        height: 70vh;
        /* padding: 30px 60px; */
        /* Customers changes */
        padding: calc(30px + 8%) calc(60px + 8%);
        padding-bottom: 0;
        max-width: 60vw;
    }

    .moveUp {
        padding-bottom: 75px;
    }

    .galleryImg {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        margin-top: auto;
    }

    .galleryCont:hover {
        cursor: pointer;
    }

    /* .galleryCont:hover > .galleryImg {
        opacity: .6;
    } */

    .galleryCont:hover > .enlargeIcon {
        opacity: 1;
        transform: scale(1);
    }

    .info {
        padding: 0;
        font-size: 14px;
    }

    .bigImgCont {
        width: auto;
        height: 100%;
        margin-right: -40px;
        margin-left: 2vw;
        background-position: 0% 80%;
    }

    .techHeader {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .info h4 {
        margin: 10px 0;
        margin-top: 15px;
    }

    .info h5 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .placeHolder {
        height: 25vh;
    }
}

@media (min-width: 1441px) {
    .bigImgCont {
        background-position: 0% 85%;
    }
}
