.container {
    width: 100%;
    min-height: 80vh;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        padding-left: 90px;
        padding-right: 40px;
    }
}
