.headerCont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 27px;
}

@media (min-width: 768px) {
    .headerCont {
        padding-left: 82px;
        padding-right: 40px;
    }
}
