.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fullImageCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fullImage {
    margin: 20px 0px;
    width: 100%;
    animation: fadeIn .5s linear forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.thumbsCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.thumb {
    height: 60px;
    margin: 10px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .fullImageCont {
        width: 80%;
        height: 40vh;
    }

    .fullImage {
        height: 38vh;
        width: auto;
        margin: 0;
        margin-bottom: 30px;
    }

    .thumb {
        height: 10vh;
        margin: 25px;
    }
}
