.container {
    background-color: #000;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    font-size: 16px;
}

.logo {
    align-self: center;
}

.container h3 {
    text-transform: uppercase;
    margin-top: 0;
}

.container > div {
    position: relative;
    margin-bottom: 30px;
}

.container > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container a {
    text-decoration: none;
    color: inherit;
}

.header {
    font-weight: normal;
}

.cookies {
    display: flex;
    margin-top: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.cookies div {
    margin-right: 50px;
    cursor: pointer;
}

.socials {
    margin-bottom: 15px;
    display: block;
}

.follow {
    margin-right: 10px;
    line-height: 2rem;
}

.socialContainer {
    align-self: center;
}

@media (min-width: 768px) {
    .container {
        /* flex-direction: row;
        justify-content: space-around;
        align-items: center; */
        display: grid;
        grid-template: 10fr 1fr 5fr / 1fr 1fr 1fr 1fr;
        justify-items: start;
        grid-row-gap: 15px;
        min-height: 20vh;
        padding: 0;
        padding-top: 50px;
    }

    .logo, .socialContainer {
        justify-self: center;
    }

    .line {
        grid-column-start: span 4;
        width: 100%;
        /* border-bottom: 1px solid #fff; */
        align-self: center;
        height: 0px;
    }

    .policyLink {
        text-transform: uppercase;
        font-size: 12px;
    }

    .container > div {
        margin: 0;
        padding-left: 100px;
    }

    .follow {
        line-height: normal;
    }

    .socials {
        display: flex;
        align-items: center;
        margin: 0;
        margin-top: 45px;
    }

    /* .container > div:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    } */

    /* .cookies div {
        margin-left: 50px;
        margin-right: 0;
        cursor: pointer;
    } */
}
