.container {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.container:hover > .number, .active > .number {
    color: red;
}

.number {
    align-self: flex-end;
    margin-right: 1rem;
    font-weight: lighter;
}

.number::before {
    content: "0";
}

.text {
    font-size: 20px;
    /* position: relative; */
}

/* .text:hover::after {
    content: "_";
    margin-left: 10px;
}

.active::after {
    content: "_";
    color: red;
    margin-left: 10px;
} */

@media (min-width: 768px) {
    .text {
        font-size: 24px;
    }
}
