.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100px;
    /* cursor: pointer; */
}

.icon {
    background-color: transparent;
    height: 2px;
    width: 100%;
}

.active {
    background-image: linear-gradient(to bottom, transparent 0, #ed0700 0);
    background-position: -100px 0;
    background-repeat: no-repeat;
    animation: load 5000ms ease-in infinite;
}

@keyframes load {
    to {
        background-position: 0 0;
    }
}

@media (min-width: 768px) {
    .container {
        width: 200px;
    }

    .active {
        background-position: -200px 0;
    }
}
