.container {
    padding: 15px;
    text-align: justify;
    font-size: 12px;
}

.container h2 {
    margin-top: 24px;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
}

.container h3 {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.container ol li, ul li {
    margin-bottom: 1rem;
}

.container ol, ul {
    padding: 0 1rem;
}

.container a {
    color: inherit;;
}
