.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.grid {
    display: grid;
    grid-template: auto / 1fr;
    justify-items: center;
    align-items: center;
    width: 75%;
    text-align: center;
    grid-gap: 20px;
}

@media (min-width: 768px) {
    .container {
        padding: 2vw;
        padding-top: 0;
        margin-top: 40px;
        max-width: 1920px;
    }

    .grid {
        width: 90%;
        grid-template: auto / 1fr 1fr 1fr;
        grid-column-gap: 45px;
        grid-row-gap: 0px;
        align-items: end;
    }
}
