.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    height: 100vh;
    background-color: var(--menu-grey);
    color: #fff;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    z-index: 10;
    animation: attentionOnLoad .75s .5s 2 ease-in-out alternate;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
}

.hidden {
    transform: translateX(-90%);
}

@keyframes attentionOnLoad {
    to {
        transform: translateX(-85%);
    }
}

.toggler {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
    cursor: pointer;
    /* writing-mode: vertical-rl;
    text-orientation: mixed; */
    transition: all .5s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: rotate(180deg); */
}

.toggleIcon {
    width: 20px;
    height: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.toggleIcon div {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.header {
    font-size: 20px;
    position: relative;
    width: auto;
    align-self: flex-start;
}

.navItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin: 10vh 0;
}

.langs {
    position: absolute;
    bottom: 18px;
    display: flex;
}

.lang {
    margin: 10px;
}

.langActive {
    color: red;
}

.langIcon {
    height: 18px;
    margin: 10px;
}

@media (min-width: 768px) {
    .container {
        width: 420px;
    }

    .toggler {
        font-size: 20px;
    }

    .toggleIcon {
        width: 28px;
        height: 18px;
    }

}
