.container {
    z-index: 100;
    display: none;
}

.mobile {
    display: block;
}

.icon {
    width: 22px;
    height: 22px;
    margin: 0px 3px;
    margin-bottom: -2px;
    transition: all .4s cubic-bezier(0.45,-0.59, 0.75, 1.85);
}

.black {
    color: #000;
    border-color: #000;
    text-shadow: none;
}

.small {
    font-size: 20px;
}

@media (min-width: 768px) {
    .container {
        display: block;
    }

    .icon:hover {
        transform: scale(1.3);
    }
}
