.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    width: 85%;
    text-align: justify;
}

.text {
    padding: 0px 20px;
}

.header {
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}

.header::after {
    content: "_";
    color: red;
    margin-left: 10px;
}

.text div {
    text-align: justify;
}

.img {
    width: calc(100% + 30px);
    margin-left: -30px;
    margin-top: 30px;
    margin-bottom: 50px;
    opacity: 0;
    transition: all 1s ease-in;
}

.show {
    opacity: 1;
    transform: translateX(0) !important;
}

@media (min-width: 768px) {
    .row {
        width: 75%;
        margin-bottom: 100px;
    }

    .text {
        padding: 0px 50px;
        width: 40%;
    }

    .img {
        height: auto;
        width: 60%;
        padding: 0;
        margin-top: 0;
        margin-left: 50px;
        margin-bottom: 100px;
        transform: translateX(20%);
    }
}
